header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: auto;

    img:first-child {
        height: 6.375rem;
        width: 6.375rem;
    }

    img:nth-child(2) {
        height: 4.75rem;
        width: 2.875rem;
    }

    ul {
        font-size: 0.75rem;
        font-weight: bold;
        gap: 2rem;
        display: flex;
        list-style: none;
    }

    .btn {
        display: flex;
        gap: 1rem;

        .contact-btn {
            color: var(--white);
            background: transparent;
            border: 1px solid var(--white);
        }
    }
    
}