<header>

    <div>
        <img src="../../assets/logo.svg" alt="" />
        <img src="../../assets/hydra-logo.svg" alt="" />
    </div>

    <ul>
        <li><a href="home#about">ABOUT</a></li>
        <li><a href="home#benefits">BENEFITS</a></li>
        <li><a href="home#tech">TECHNOLOGIES</a></li>
    </ul>

    <div class="button-section">
        <button class="contact-btn">CONTACT US</button>
        <a href="home#register">
            <app-button [title]="joinBtnTitle" />
        </a>
    </div>

    <mat-icon class="toggleMenu" (click)="toggleSidenav()"> menu </mat-icon>
    
</header>