<footer>
    <img src="../../assets/logo.svg" alt="hydra logo" />
    <div class="divider"></div>

    <ul>
        <li>ABOUT</li>
        <li>SERVICES</li>
        <li>TECHNOLOGIES</li>
        <li>HOW TO</li>
        <li>JOIN HYDRA</li>
    </ul>
    <div class="divider"></div>

    <ul>
        <li>F.A.Q</li>
        <li>SITEMAP</li>
        <li>CONDITIONS</li>
        <li>LICENSES</li>
    </ul>
    <div class="divider"></div>

    <div class="social-media">
        <p>SOCIALIZE WITH HYDRA</p>
        <ul>
            <li>FACEBOOK</li>
            <li>TWITTER</li>
            <li>LINKEDIN</li>
            <li>INSTAGRAM</li>
        </ul>
        <div>
            <app-button [title]="btnTitle"></app-button>
        </div>
    </div>
    
    <!-- <div></div>
    <p>2023 HYDRA LANDING PAGE - By Natally - ALL RIGHTS RESERVED</p> -->
</footer>