<footer>
    <img src="../../assets/logo.svg" alt="hydra logo" />
    <div class="divider"></div>

    <ul>
        <li>ABOUT</li>
        <li>SERVICES</li>
        <li>TECHNOLOGIES</li>
        <li>HOW TO</li>
        <li>JOIN HYDRA</li>
    </ul>
    <div class="divider"></div>

    <ul>
        <li>F.A.Q</li>
        <li>SITEMAP</li>
        <li>CONDITIONS</li>
        <li>LICENSES</li>
    </ul>
    <div class="divider"></div>

    <div class="social-media">
        <p>SOCIALIZE WITH HYDRA</p>
        <ul>
            <li><img src="../../assets/facebook.png" alt="facebook icon" /></li>
            <li><img src="../../assets/youtube.png" alt="facebook icon" /></li>
            <li><img src="../../assets/instagram.png" alt="facebook icon" /></li>
            <li><img src="../../assets/linkedin.png" alt="facebook icon" /></li>            
            <li><img src="../../assets/twitter.png" alt="facebook icon" /></li>
        </ul>
        <div>
            <app-button [title]="btnTitle"></app-button>
        </div>
    </div>
</footer>