<section class="about-container" id="about">

    <div class="grid-1">
        <div>
            <strong>INTRODUCTION</strong>
            <p class="subtitle">TO HYDRA VR</p>
        </div>
        <app-arrow class="arrow"></app-arrow>
    </div>

    <div class="grid-2">
        <p>Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat 
            nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo 
            quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare 
            lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.
        </p>
    </div>

    <div class="grid-3">
        <img src="../../assets/intro-img.svg" alt="Man using Hydra VR" />
    </div>

    <div class="grid-4">
        <div>
            <strong>ABOUT</strong>
            <p class="subtitle">HYDRA VR</p>
        </div>

        <p>Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus 
            urna neque viverra justo. Vivamus at augue eget arcu dictum. Ultrices gravida 
            dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. 
            Mattis aliquam faucibus purus in massa. Est placerat in egestas erat imperdiet 
            sed. Consequat semper viverra nam libero justo laoreet sit amet. Aliquam 
            etiam erat velit scelerisque in dictum non consectetur a. Laoreet sit amet 
            cursus sit amet. Vel eros donec ac odio tempor orci dapibus. Sem nulla pha
            retra diam sit amet nisl suscipit adipiscing bibendum. Leo a diam sollicitudi
            n tempor.
        </p>
        
        <app-button [title]="title"></app-button>
    </div>

</section>