.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

    .grid-1 {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .grid-3 {
        height: 80%;
        width: 80%;
    }

    .grid-4 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .grid-1, .grid-4 {
        div {
            strong, p {
                font-size: 2.25rem;
            }
        
            p {
                font-family: "Montserrat Thin";
            }
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

   @media (max-width: 768px) {
        grid-template-columns: 1fr; 
        gap: 2rem;

        .grid-1 {
            display: flex;
            flex-direction: column;
        }

        .grid-3 {
            width: 100%;        
        }

        .arrow {
            display: none;
        }
    } 
}



