<div>
    <section>
        <h1> <span>Dive</span> Into The Depths Of <span>Virtual Reality</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore 
            nisl tincidunt eget. Lectus mauris eros in vitae .
        </p>
        <a href="home#register"> 
            <app-button [title]="title"></app-button>
        </a>
    </section>
    <section>
        <img src="../../assets/vr-about.svg" alt="" />
    </section>
</div>