
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 5rem;        

    .grid-1 {
        display: flex;
        align-items: center;
        gap: 2rem;

        div {
            white-space: nowrap;
        }        

        strong, .subtitle {
            font-size: 2.25rem;
        }
    
        .subtitle {
            font-family: "Roboto Thin";
        }
    }
}

.cards {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 3rem;
    flex-wrap: wrap;        
}

@media (max-width: 1400px) {
    .cards {
        justify-content: center;      
    }
}

@media (max-width: 900px) {
    .grid-container {
        gap: 2rem;
    }
    
    .arrow {
        display: none;
    }
}

@media (max-width: 768px) {
    
    .arrow, .grid-2 {
        display: none;
    }  

    .grid-container {
        grid-template-columns: 1fr;

        .grid-1 {
            justify-content: center;
        }
    }

}
