<nav>
    <div>
        <mat-icon class="close-icon">close</mat-icon>
        <div>
            <img src="../../assets/logo.svg" alt="" />
            <img src="../../assets/hydra-logo.svg" alt="" />
        </div>
    
        <ul>
            <li><a href="home#about">ABOUT</a></li>
            <li><a href="home#benefits">BENEFITS</a></li>
            <li><a href="home#tech">TECHNOLOGIES</a></li>
        </ul>
    
        <a href="home#register">
            <app-button [title]="joinBtnTitle" />
        </a>
    </div>
</nav>