nav { 
    background: var(--purple-100);
    color: var(--purple-500);
    position: fixed;
    inset: 0;
    text-align: center;

    width: 50%;

    div {
        width: 80%;
        margin: 0 auto;

        .close-icon {
            float: right;
            margin-top: 1rem;
        }
    }

    ul {
        font-weight: bold;
        gap: 1rem;
        display: flex;
        list-style: none;
        flex-direction: column;
        padding: 1rem;
        margin-top: 2rem;
    }

    a {
        &:hover {
            color: var(--purple-200);
        }
    }
    
    .btn-section {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        flex-basis: 50%;

        button {
            color: var(--white);
            background: transparent;
            border: 1px solid var(--white);
        }
    }

    @media (max-width: 768px) {
        div {
            width: 90%;
            margin: 0 auto;
        }

        ul {
            font-size: 0.75rem;
        }
    }
}