
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hydra-virtual-reality-primary: mat.define-palette(mat.$indigo-palette);
$hydra-virtual-reality-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hydra-virtual-reality-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hydra-virtual-reality-theme: mat.define-light-theme((
  color: (
    primary: $hydra-virtual-reality-primary,
    accent: $hydra-virtual-reality-accent,
    warn: $hydra-virtual-reality-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($hydra-virtual-reality-theme);

/* You can add global styles to this file, and also import other style files */
@import 'theme';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

body {
    background-color: var(--purple-500);
}

button {
    border-radius: 40px;
    font-weight: bold;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, var(--purple-200), var(--purple-100));
    color: var(--purple-500);
    padding: 0.8rem 1.7rem;
    border: none;
}

@media (max-width: 900px) {
   html {
    font-size: 87%;
   }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
