@import 'themes/theme';

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, input, textarea {
    font-size: 1rem;
    font-family: 'Roboto';
    color: var(--white);
  }

  body {
    background-color: var(--purple-500);
    -webkit-font-smoothing: antialiased;
  }

  input:focus, textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--purple-100);
  }

  a {
    text-decoration: none;
  }

  button {
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.75rem;
    font-family: 'Roboto';
    background: linear-gradient(to right, var(--purple-200), var(--purple-100));
    color: var(--purple-500);
    padding: 0.8rem 1.7rem;
    border: 1px solid var(--purple-200);
    transition: background-color 1s;

    &:hover {
      background: linear-gradient(to right, var(--purple-300), var(--purple-200));
    }
  }

  @media (max-width: 768px) {
    html {
      font-size: 87%;
      text-align: center;
    }

  }