<section class="register-container" id="register">
    <h2>JOIN HYDRA</h2>
    <p class="subtitle">Let's build your VR Experience</p>

    <form>
        <input
            id="firstName"
            type="text" 
            placeholder="First Name" 
        />
        <input 
            id="lastName"
            type="text" 
            placeholder="Last Name" 
        />
        <input 
            id="email"
            type="email" 
            placeholder="Email" 
        />
        <input 
            id="phone"
            type="text" 
            placeholder="Phone Number" 
        />
        <input 
            id="subject"
            type="text" 
            placeholder="Subject" 
        />     
        <textarea placeholder="Tell us something."></textarea>

        <app-button [title]="btnTitle" class="btn"></app-button>
    </form>
    
</section>