<div class="register-container">
    <h1>JOIN HYDRA</h1>
    <h4>Let's build your VR Experience</h4>

    <form>
        <input
            id="firstName"
            type="text" 
            placeholder="First Name" 
        />
        <input 
            id="lastName"
            type="text" 
            placeholder="Last Name" 
        />
        <input 
            id="email"
            type="email" 
            placeholder="Email" 
        />
        <input 
            id="phone"
            type="text" 
            placeholder="Phone Number" 
        />
        <input 
            id="subject"
            type="text" 
            placeholder="Subject" 
        />     
        <textarea placeholder="Tell us something."></textarea>
    </form>
    
</div>